In [ ]:
#uploading file
from google.colab import files
uploaded = files.upload()

Saving YouTubeTrailerComments.txt to YouTubeTrailerComments.txt

In [ ]:
file = open("/content/YouTubeTrailerComments.txt",encoding="latin-1")
text_lines = file.readlines()
text_lines = [line.replace("\n",'') for line in text_lines if line.replace("\n","")]

mv_id= []
rest_data = []
for i,line in enumerate(text_lines):
  if "MovieID" in line:
    movie_id = line.split("::::")[1].strip()
  else:
    if all([i.isdigit() for i in line.split()])  and len(line.split())==5:
      # data = ' '.join([x for x in line.split()])
      rest_data.append(f"{movie_id},{line.replace(' ',',')}")
    
print(len(rest_data))

983

In [ ]:
import csv

# all_data = list(rest_data)
all_data = csv.reader(rest_data)
all_data

In [ ]:
all_data = list(all_data)
all_data[0]

['1', '128238', '170', '7', '0', '7']

In [ ]:
import pandas as pd
df = pd.DataFrame(all_data,columns=['mv_id','view_count','like_count','dislike_count','share_count','comment_count'])
df.head()

  mv_id view_count like_count dislike_count share_count comment_count
0     1     128238        170             7           0             7
1     2     155561        135            14           0            74
2     3       2532          7             2           0             1
3     4       6827          9             1           0             0
4     5     330807        374            16           0           121

In [ ]:
df.describe()

       mv_id view_count like_count dislike_count share_count comment_count
count    983        983        983           983         983           983
unique   983        977        347            87           1           123
top        1      59019         10             0           0             0
freq       1          2         23           181         983           124